@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Changa", sans-serif;
}

body {
    background-color: #f0daae;
}

#menu-h ul{
    padding: 0;
    list-style: none;
    background-color: #A3966A;
}

#menu-h ul li{
    display:inline;
    padding: 20px;
}

#menu-h ul li a{
    color: #482E1D;
    text-decoration: none;
    padding: 10px;
    display:inline-block;
}

#menu-h ul li a:hover{
    color: #895D2B;
}

#menu-h ul li img{
    width: 70px;
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    color: #482E1D;
    text-align: center;
    font-size: 60px;
    transition: .8s;
}

h1:hover {
    color:#895D2B;
}

.container {
    text-align: center;
    padding: 20px;
}

.itens {
    display: inline-table;
    margin: 15px 30px;
}

.itens:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.poster {
    border-radius: 8px;
    border: #A3966A;
}

h2 {
    color: #482E1D;
}

.scrollTop {
    outline: none;
    border: 0;
    background-color: #482e1d;
    width: 60px;
    height: 60px;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 30px;
    bottom: 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.6);
    z-index: 999;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease;
  }
  
  .scrollTop.active {
    opacity: 1;
    visibility: visible;
  }
  
  .scrollTop img {
    width: 100%;
    transform: rotate(180deg);
  }